<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    {% block content %}
    <h1>Attendance for Users : Teacher and Student</h1>

    <form action="{% url 'Attendance:attendance' %}" method="post">

        {% csrf_token %}

        {% if attendance_status == 1 %}
            
            <button type="submit">Signout</button>

        {% elif attendance_status == 2 %}
            

            <button type="submit">signin</button>

        {% else %}
            <button type="submit">signin</button>
        {% endif %}

    </form>
    {% endblock %}



</body>

</html>