<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
</head>

<body>

    <h1>This is sign up form</h1><br>

    {% block content %}

    <form action="{% url 'authentication:register' %}" method=POST>
        <br>
        {% csrf_token %}
        {{form.as_p}}
        <br><br><button type="submit" value="Register">Register</button> <br>

    </form>

    {% endblock %}

</body>

</html>